.home-what-we-offer__wrapper {
   width: 100%;
   position: relative;
   padding: 172px 96px 0;

   .what-we-offer-inner__wrapper {
      max-width: 1248px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .title__wrapper {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 12px;

         span {
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.80);
            opacity: 0;
            filter: blur(10px);
            will-change: opacity;
         }

         h2 {
            font-size: 32px;
            line-height: 44px;
            background: linear-gradient(118deg, #626984 -3.24%, #FFF 50.67%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            filter: blur(10px);
            will-change: opacity, filter;
         }
      }

      .cards__wrapper {
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: 20px;

         .cards-row__wrapper {
            width: 100%;
            display: flex;
            gap: 20px;

            .single-card__layer {
               width: 100%;
               padding: 1px;
               background: linear-gradient(0, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.00) 100%);
               border-radius: 20px;
               overflow: hidden;
               position: relative;
               opacity: 0;
               will-change: opacity;
               --mouse-x: 50%;
               --mouse-y: 50%;

               &:hover::before,
               &:focus-within::before {
                  opacity: 0.6;
               }

               &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), #EDEDED, transparent 60%);
                  opacity: 0;
                  transition: opacity .5s ease-in;
                  pointer-events: none;
                  z-index: 2;
               }

               .ligth-effect__wrapper {
                  position: absolute;
                  top: -700px;
                  right: -702px;
                  width: 1930px;
                  height: 1425px;
                  opacity: .4;
                  pointer-events: none;
                  z-index: 2;
                  transition: all 500ms ease-in;

                  img {
                     width: 100%;
                     height: 100%;
                  }
               }

               &:hover .ligth-effect__wrapper {
                  opacity: 0;
               }

               .single-card__item {
                  width: 100%;
                  height: 100%;
                  border-radius: 20px;
                  background: var(--bg-color);
                  display: flex;
                  flex-direction: column;

                  .card-image__wrapper {
                     width: 100%;
                     min-height: 320px;
                     height: 320px;
                     overflow: hidden;

                     img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all .6s ease-in-out;
                     }
                  }

                  .card-content__wrapper {
                     padding: 32px;
                     width: 100%;
                     height: 100%;
                     display: flex;
                     flex-direction: column;
                     justify-content: space-between;
                     gap: 12px;

                     .text__wrapper {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        h5 {
                           font-size: 20px;
                           line-height: 28px;
                           opacity: 0;
                           filter: blur(10px);
                           will-change: opacity, filter;
                        }

                        span {
                           font-size: 14px;
                           line-height: 24px;
                           color: rgba(255, 255, 255, 0.50);
                           opacity: 0;
                           filter: blur(10px);
                           will-change: opacity, filter;
                        }
                     }

                     .read-more {
                        font-size: 14px;
                        line-height: 16px;
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-decoration-skip-ink: auto;
                        text-decoration-thickness: auto;
                        text-underline-offset: auto;
                        text-underline-position: from-font;
                        cursor: pointer;
                     }
                  }

                  @media screen and (min-width: 1024px) {
                     &:hover {
                        .card-image__wrapper {
                           img {
                              transform: scale(1.05);
                           }
                        }
                     }
                  }
               }
            }

            &:first-child {
               .single-card__layer {
                  &:nth-child(2) {
                     max-width: 500px;

                     .ligth-effect__wrapper {
                        right: -930px;
                     }
                  }
               }
            }

            &:last-child {
               .single-card__layer {
                  &:nth-child(1) {
                     max-width: 500px;

                     .ligth-effect__wrapper {
                        right: -930px;
                     }
                  }
               }
            }
         }
      }
   }

   @media screen and (max-width: 1200px) {
      padding: 172px 64px 0;
   }

   @media screen and (max-width: 990px) {
      padding: 172px 48px 0;

      .what-we-offer-inner__wrapper {
         .cards__wrapper {
            .cards-row__wrapper {
               flex-direction: column;

               .single-card__layer {
                  max-width: 100% !important;
               }
            }
         }
      }
   }

   @media screen and (max-width: 768px) {
      padding: 96px 16px 0;

      .what-we-offer-inner__wrapper {
         .cards__wrapper {
            .cards-row__wrapper {
               .single-card__layer {
                  border-radius: 12px;

                  .ligth-effect__wrapper {
                     right: -850px !important;
                  }

                  .single-card__item {
                     border-radius: 12px;

                     .card-image__wrapper {
                        min-height: 220px;
                        height: 220px;
                     }

                     .card-content__wrapper {
                        padding: 16px;

                        h5 {
                           font-size: 18px;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}