.home-code-block__wrapper {
   width: 100%;
   padding: 172px 96px 0;
   position: relative;
   overflow: hidden;

   .code-block-inner__wrapper {
      max-width: 1248px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      .code-block__wrapper {
         max-width: 904px;
         width: 100%;
         padding: 24px;
         border-radius: 20px;
         background: rgba(255, 255, 255, 0.04);
         display: flex;
         flex-direction: column;
         gap: 32px;

         .header__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .top-nav__wrapper {
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: space-between;

               .left__items {
                  display: flex;
                  align-items: center;
                  gap: 30px;

                  .options-block {
                     display: flex;
                     align-items: center;
                     gap: 10px;

                     .circle {
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                     }
                  }
               }

               .right__items {
                  display: flex;
                  align-items: center;
                  width: 167px;
                  justify-content: space-between;
               }
            }

            .top-buttons__wrapper {
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: space-between;
               gap: 16px;
               flex-wrap: wrap;

               .single-top__btn {
                  height: 34px;
                  padding: 8px 12px;
                  display: flex;
                  align-items: center;
                  border-radius: 8px;
                  border: 1px solid rgba(255, 255, 255, 0.10);
                  background: rgba(255, 255, 255, 0.05);

                  span {
                     font-size: 14px;
                     line-height: 18px;
                  }
               }

               .right__buttons {
                  display: flex;
                  align-items: center;
                  gap: 16px;
               }
            }
         }

         .text__block {
            width: 100%;
            padding: 16px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.05);

            span {
               font-size: 15px;
               line-height: 24px;
            }
         }
      }
   }

   @media screen and (max-width: 1200px) {
      padding: 172px 64px 0;
   }

   @media screen and (max-width: 990px) {
      padding: 172px 48px 0;
   }

   @media screen and (max-width: 768px) {
      padding: 96px 16px 0;

      .code-block-inner__wrapper {
         .code-block__wrapper {
            padding: 16px;
            gap: 20px;
            border-radius: 12px;

            .header__wrapper {
               gap: 20px;

               .top-nav__wrapper {
                  .left__items {
                     gap: 12px;

                     .options-block {
                        gap: 6px;
                     }
                  }

                  .right__items {
                     width: 112px;

                     svg {
                        max-height: 18px;
                        width: auto;
                     }
                  }
               }

               .top-buttons__wrapper {
                  gap: 12px;

                  .single-top__btn {
                     padding: 4px 8px;
                     height: 28px;
                  }

                  .right__buttons {
                     gap: 12px;
                     flex-wrap: wrap;
                  }
               }
            }

            .text__block {
               padding: 12px;

               span {
                  font-size: 14px;
                  line-height: 20px;
               }
            }
         }
      }
   }
}