.home-contact__wrapper {
   width: 100%;
   padding: 172px 96px 0;
   position: relative;
   overflow: hidden;

   .contact-inner__wrapper {
      max-width: 1248px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 24px;

      .content__wrapper {
         display: flex;
         flex-direction: column;
         gap: 20px;
         max-width: 460px;
         width: 100%;

         .text__wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h2 {
               font-size: 32px;
               line-height: 44px;
               background: linear-gradient(118deg, #626984 -3.24%, #FFF 50.67%);
               background-clip: text;
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               opacity: 0;
               filter: blur(10px);
               will-change: opacity, filter;
            }

            span {
               font-size: 16px;
               line-height: 24px;
               color: rgba(255, 255, 255, 0.80);
               opacity: 0;
               filter: blur(10px);
               will-change: opacity, filter;
            }
         }

         .social__wrapper {
            display: flex;
            align-items: center;
            gap: 24px;

            .single-social__item {
               min-width: 48px;
               width: 48px;
               height: 48px;
               border-radius: 50%;
               background: rgba(255, 255, 255, 0.10);
               display: flex;
               align-items: center;
               justify-content: center;
               cursor: pointer;
               position: relative;
               overflow: hidden;
               opacity: 0;
               will-change: opacity;

               .gradient__item {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: linear-gradient(121deg, #0F1417 -23.57%, #3E3CFF 33.26%, #74FFF0 101.94%);
                  opacity: 0;
                  transition: all .35s ease-in;
               }

               svg {
                  position: relative;
                  z-index: 2;
               }

               @media screen and (min-width: 1024px) {
                  &:hover {
                     .gradient__item {
                        opacity: 1;
                     }
                  }
               }

               ;
            }
         }
      }

      .form__wrapper {
         max-width: 658px;
         width: 100%;
         padding: 40px;
         border-radius: 30px;
         background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.00) 100%);
         opacity: 0;
         will-change: opacity;
         position: relative;
         overflow: hidden;

         .form-success__popup {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: #13141C;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 24px;
            opacity: 0;
            will-change: opacity;
            pointer-events: none;

            .success-popup-inner__wrapper {
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 20px;
               max-width: 415px;
               width: 100%;
               margin: 0 auto;

               h2 {
                  font-size: 32px;
                  line-height: 40px;
                  text-align: center;
                  background: linear-gradient(118deg, #626984 -3.24%, #FFF 50.67%);
                  background-clip: text;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  opacity: 0;
                  will-change: opacity;
               }

               .desc {
                  font-size: 16px;
                  line-height: 26px;
                  text-align: center;
                  opacity: 0;
                  will-change: opacity;
               }

               .popup-btn__layer {
                  width: 100%;
                  opacity: 0;
                  will-change: opacity;
                  display: flex;

                  .btn__wrapper {
                     width: 100%;
                  }
               }
            }
         }

         .form-inner__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .single-form__field {
               width: 100%;
               display: flex;
               flex-direction: column;
               gap: 16px;

               .field__title {
                  width: 100%;
                  display: flex;

                  label {
                     font-size: 16px;
                     line-height: 20px;
                     color: rgba(255, 255, 255, 0.50);
                     cursor: pointer;
                  }
               }

               .field-input__wrapper {
                  width: 100%;
                  display: flex;

                  input {
                     width: 100%;
                     height: 52px;
                     padding: 16px 24px;
                     border-radius: 12px;
                     background: rgba(255, 255, 255, 0.10);
                     border: none;
                     color: var(--white);
                  }
               }
            }
         }
      }
   }

   @media screen and (max-width: 1200px) {
      padding: 172px 64px 0;
   }

   @media screen and (max-width: 990px) {
      padding: 172px 48px 0;
   }

   @media screen and (max-width: 768px) {
      padding: 96px 16px 0;

      .contact-inner__wrapper {
         flex-direction: column;

         .content__wrapper {
            max-width: 100%;
            align-items: center;

            .text__wrapper {
               gap: 12px;

               h2 {
                  text-align: center;
                  line-height: 36px;
               }

               span {
                  line-height: 22px;
                  text-align: center;
               }
            }

            .social__wrapper {
               gap: 20px;
            }
         }

         .form__wrapper {
            max-width: 100%;
            padding: 16px;
            border-radius: 12px;

            .form-success__popup {
               .success-popup-inner__wrapper {
                  gap: 16px;

                  h2 {
                     font-size: 24px;
                     line-height: 32px;
                  }

                  .desc {
                     font-size: 14px;
                     line-height: 22px;
                  }
               }
            }

            .form-inner__wrapper {
               gap: 24px;

               .single-form__field {
                  gap: 12px;

                  .field__title {
                     label {
                        font-size: 16px;
                        line-height: 20px;
                     }
                  }

                  .field-input__wrapper {
                     input {
                        height: 48px;
                        padding: 8px 16px;
                        font-size: 14px;
                     }
                  }
               }

               .btn__wrapper {
                  margin-top: 12px;
               }
            }
         }
      }
   }
}