.home-hero__wrapper {
   width: 100%;
   height: 819px;
   position: absolute;
   top: 0;
   left: 0;
   padding: 0 0 0 0;

   .hero-bg__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      overflow: hidden;

      .lines__wrapper {
         min-width: 1536px;
         max-width: 100%;
         width: 100%;
         height: 100%;
         position: absolute;
         bottom: 8px;
         left: 50%;
         transform: translateX(-50%);
         display: flex;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }

   .gradient-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 258px;
      background: linear-gradient(180deg, #010A2A 0%, rgba(0, 0, 0, 0.00) 100%);
      z-index: 3;
      pointer-events: none;
   }

   .glows-desktop {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1312px;
      width: 100%;
      height: 280px;
      z-index: 10;
      pointer-events: none;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .hero-inner__wrapper {
      position: relative;
      max-width: 1248px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 56px;
      z-index: 2;
      padding-left: 119px;

      .content__wrapper {
         max-width: 385px;
         min-width: 280px;
         width: 385px;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 36px;

         .text__wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1 {
               font-size: 48px;
               line-height: 52px;
            }

            span {
               font-size: 20px;
               line-height: 32px;
               color: #B0B0E2;
            }
         }
      }

      .hero-image__wrapper {
         max-width: 687px;
         width: 687px;
         height: 662px;
         position: relative;
         display: flex;

         img {
            width: 100%;
            height: auto;
            object-fit: cover;
         }

         .hero-image-layer {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: linear-gradient(270deg, #00030E 0%, rgba(0, 3, 14, 0.00) 30%), linear-gradient(270deg, rgba(0, 3, 14, 0.00) 70%, #00030E 100%), linear-gradient(180deg, rgba(0, 3, 14, 0.00) 65%, #00030E 90%);
         }
      }
   }

   @media screen and (max-width: 1500px) {
      .hero-bg__wrapper {
         .lines__wrapper {
            img {
               object-fit: fill;
            }
         }
      }
   }

   @media screen and (max-width: 1200px) {
      .hero-inner__wrapper {
         padding: 0 16px 0 64px;
         gap: 0;
      }
   }

   @media screen and (max-width: 990px) {
      .hero-inner__wrapper {
         padding: 0 0 0 48px;
      }
   }

   @media screen and (max-width: 768px) {
      height: auto;
      padding: 124px 0 0;
      position: relative;
      overflow: hidden;

      .gradient-top {
         height: 150px;
      }

      .hero-inner__wrapper {
         flex-direction: column;
         padding: 0 0;
         gap: 0;

         .content__wrapper {
            min-width: 100%;
            width: 100%;
            align-items: center;
            gap: 28px;
            padding: 0 16px;

            .text__wrapper {
               align-items: center;
               gap: 12px;

               h1 {
                  text-align: center;
                  font-size: 32px;
                  line-height: 36px;
                  max-width: 300px;
               }

               span {
                  text-align: center;
                  font-size: 14px;
                  line-height: 20px;
               }
            }

            .btn__wrapper {
               max-width: 493px;
               width: 100%;
            }
         }

         .hero-image__wrapper {
            height: 483px;
            width: 100%;

            .hero-image-layer {
               background: linear-gradient(270deg, #00030E 0%, rgba(0, 3, 14, 0.00) 30%), linear-gradient(270deg, rgba(0, 3, 14, 0.00) 70%, #00030E 100%), linear-gradient(180deg, #00030E 10%, rgba(0, 3, 14, 0.00) 35%), linear-gradient(180deg, rgba(0, 3, 14, 0.00) 65%, #00030E 90%);
            }
         }
      }
   }
}