.home-testimonials__wrapper {
   width: 100%;
   position: relative;
   margin-top: 778px;

   .testimonials-inner__wrapper {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 34px;

      .title__wrapper {
         padding: 0 96px;
         display: flex;
         align-items: center;
         justify-content: center;

         h2 {
            font-size: 20px;
            line-height: 26px;
            text-align: center;
         }
      }

      .logos__wrapper {
         display: flex;
         align-items: center;
         gap: 72px;
         overflow: hidden;

         .single-logo__item {
            min-width: 64px;
            width: 64px;
            height: 64px;
            border-radius: 8px;
            overflow: hidden;

            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }
   }
}